body {
    background-color:#fafafa ;
    margin:0;
    padding:0;
    }
    /*ใส่เงา*/
    :root{
      --shadow:0 6px 12px rgba(104,104,104,0.8);
    }
    .headerbar{
      background-color:#D9D8D7;
      height:53px;
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }
    .menu-bar {
      background-color: #D9D8D7;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      position:fixed;
      top:0;
      right:0;
      left:0;
      font-family:Good Times;
      z-index:3;
      max-width: 1600px;
      margin: auto;
    }
    .item {
      color: black;
      background-color: transparent;
      font-size: 18px;
      display: inline-block;
      box-sizing: border-box;
      padding: 8px 16px;
      text-decoration:none;
      margin:auto;
    }
    .item.title {
      font-weight: 600;
      font-size:25px;
      margin-top:5px;
    }
    #font{
      font-family:Good Times;
      text-decoration:none;
      }
      /*หน้าหลัก*/
    .top{
      display:grid;
      column-gap:10px;
      grid-template-areas:'homepage homepage info-box1 info-box1';
      margin-top:40px;
      margin-top: 40px;
      max-width: 1600px;
      margin-inline: auto;
    }
    /*หน้าหลักรอง*/
    .homepage{
      grid-area:homepage;
      min-height:500px;
      background-image: url('https://www.ielts.idp.co.th/IdpBlog/StudyTips/image003.jpg');
      background-position: left;
      background-size:1200px 570px;
      background-repeat: no-repeat;
      padding:5px;
      margin-bottom:20px;
      display:flex;
      flex-direction:column;
      align-items:start;
      justify-content:flex-end;
      box-shadow:var(--shadow);
      max-width:1190px;
    }
    .homepage h1{
      font-size:35px;
      color:white;
      margin-bottom:0px;
      margin-left:20px;
    }
    .homepage p{
      font-size:20px;
      color:white;
      margin-top:10px;
      margin-left:20px;
    }
    /*กล่องทางขวา*/
    .info-box2{
      grid-area:info-box1;
      background-color:lightgray;
      margin-bottom:21px;
      box-shadow:var(--shadow);
      align-items:center;
      justify-items:center;
      display:inline-block;
      max-width:400px;
      min-width:250px;
    }
    .info-box1{
      grid-area:info-box1;
      background-color: #D9D8D7;
      margin:auto;
      align-items:center;
      justify-items:center;
      display:inline-block;
      padding: 8px 16px;
    }
    .info-box1 ul{
      list-style:none;
      text-align:center;
      padding:0px;
      margin:1px;
      background-color: #D9D8D7;
    }
    .info-box1 li{
      font-size:20px;
      text-align:left;
      line-height:24px;
    }
    .info-box1 a{
      text-decoration:none;
      display:block;
      color:black;
      padding:5px 16px;
      border-bottom:none;
      transition:0.5s;
      text-align:center;
    }
    .info-box1 a:hover{
      background-color:gray;
    }
    .info-box1 li li{
      font-size:15px;
      text-align:center;
      padding:0;
      margin:0;
      display:block;
    }
    @media screen and (min-width:650px){
      .info-box1 il{
        width:100px;
        border-bottom:none;
        height:50px;
        line-height:50px;
        display:inline-block;
        margin-right:-8px;
      }
    } 
    .info-box1 a{
      border-bottom:none;
    }
    .info-box1 > ul> li{
      text-align:center;
    }
    .info-box1 > ul > li > a{
      padding-left:0;
    }
    .info-box1 li ul{
      position:absolute;
      display:none;
      width:inherit;
    }
    .info-box1 li:hover ul{
      display:block;
    }
    .info-box1 li ul li{
      display:block;
    }
/*หน้าหลักเก่า*/
    .main{
      font-size:20px;
      text-align:center;
      background-color:white;
      padding:40px;
      margin: auto;
      max-width:2000;
      border:0.5px solid #D9D8D7;
      }
      /*ชื่อวิชา*/
    .subject{
      display:block;
      margin-left:30px;
      font-size:23px;
      max-width: fit-content;
      margin: auto;
    }
    .subject-text{
      margin-left:30px;
    }
    /*เนื้อหาหลัก*/
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: stretch;
      position:relative;
      min-height: 500px;
    }
    @media screen and (max-width:599px) {
        .grid{
          grid-template-columns:1fr  ;
        }
    }
    @media screen and (min-width:600px) and (max-width:1000px){
      .grid{
        grid-template-columns: 1fr 1fr ;
      }
    }
    @media screen and (min-width:1001px) and (max-width:1400px){
      .grid{
        grid-template-columns: 1fr 1fr 1fr ;
      } 
    }
    @media screen and (min-width:1401px){
      .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
      } 
    }
    /*หล่องเนื้อหา*/
    .content1{
      background-color: white;
      border-radius:10px;
      box-sizing: border-box;
      position:relative;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .content1:hover{
      transform:scale(1.05,1.05);
    }
    .wave {
      position:relative;
      background-image:url("https://amrasatu.files.wordpress.com/2012/05/las-vegas_monorail.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position:relative;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .wave:hover{
      transform:scale(1.05,1.05);
    }
    .light {
      background-image:url("https://www.scimath.org/images/uploads/upload2/_350.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position:relative;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .light:hover{
      transform:scale(1.05,1.05);
    }
    .sound {
      background-image:url("https://cdn.britannica.com/78/178878-138-E707FE4D/anything-space-change-states-matter-substance-forms.jpg?w=800&h=450&c=crop");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position:relative;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .sound:hover{
      transform:scale(1.05,1.05);
    }
    .electromagnetic {
      background-image:url("https://www.smartenergyportal.ch/wp-content/uploads/2020/06/electricity.0.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position:relative;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .electromagnetic:hover{
      transform:scale(1.05,1.05);
    }
    .image{
      width:100%;
      display: block;
      border-radius:10px;
    }
    /*ใส่ตัวอักษรบนรูป*/
    #text-overlay{
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 24%, rgba(0, 0, 0, 0) 65%);
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius:10px;
      transition-delay:2s;
      transition-duration:2s;
      transition-timing-function:ease-in;
    }
    #text-overlay:hover{
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 21%, rgba(0, 0, 0, 0.53) 54%, rgba(0, 0, 0, 0) 80%);
    }
    #text-style{
      color: white;
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
    
    .nav{
      display:flex;
      align-items:center;
      justify-content:space-between;
      background-color:#D9D8D7;
      padding:10px 5%;
    }
    .nav-left,.nav-right{
      display:flex;
      align-items:center;
    }
    .nav-left ul li{
      list-style:none;
      display:inline-block;
    }
    .search-box{
      width:150px;
      background-color:white;
      border-radius:20px;
      display:flex;
      align-items:center;
      padding:0 15px;
      display:inline-block;
    }
    .search-box input{
      width:100%;
      background:transparent;
      outline:none;
      border:0;
      padding:10px;
    }
    .footer{
      color:white;
      background-color:#696969 ;
      width:auto;
      padding:70px 0;
      box-sizing:border-box;
      margin:auto;
    }
    .footer-container{
      max-width:1200px;
      background-color:red,none;
      margin:auto;
    }
    ul{
      list-style:none;
      padding:6px;
    }
    .footer-row{
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
    }
    .footer-col{
      width:22%;
      padding:0 15px;
    }
    .footer-col h3{
      font-size:20px;
      color:white;
      text-transform:capitatize;
      margin-bottom:30px;
      position:relative;
    }
    .footer-col h3::before{
      content:'';
      position:absolute;
      left:0;
      bottom:-10px;
      background-color:white;
      height:2px;
      box-sizing:border-box;
      width:110px;
    }
    .footer-col ul li:not(:last-child){
      margin-bottom:10px;
    }
    .footer-col ul li a{
      font-size:18px;
      text-transform:capitalize;
      color:lightgray;
      text-decoration:none;
      display:block;
      transition:all 0.3s ease;
    }
    .footer-col ul li a:hover{
      color:black;
      padding-left:15px;
    }
    @media screen and (max-width:1000px){
      .footer-col{
        width:45%;
        margin-bottom:30px;
      }
    }
    @media screen and (max-width:580px){
      .footer-col{
        width:60%;
        margin-bottom:30px;
      }
    }
    .font2{
      text-align:center;
    }
    .info-box2-text{
      margin: 10px 5px;
      text-align:center;
      font-size:20px;
    }
    .inblock{
      position: absolute;
      animation: animate 25s ease-in-out infinite;
      width: 400px;
      height: 100%;
      top: 0;
      min-width: 280px;
      bottom: 0;
      max-height: 509px;
      margin: 91px 0px 0px;
      background-size: 400px 500px;
      background-repeat: no-repeat;
      background-position: center;
    }
    @keyframes animate{
        0%,100%{
          background-image:url("https://www.smartmathpro.com/wp-content/uploads/2021/07/tcas64-65.jpg")
        }
        25%{
          background-image:url("https://www.webythebrain.com/wp-content/uploads/2021/09/2_6.jpg")
        }
        50%{
          background-image:url("https://www.ondemand.in.th/wp-content/uploads/2021/08/TCAS65-03-up-1024x1024.png")
        }
        75%{
          background-image:url("https://pbs.twimg.com/media/EWBW8EyUcAAgGSh.png")
        }
      }
      .outer{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 24%, rgba(0, 0, 0, 0) 65%);
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        transition-delay:2s;
        transition-duration:2s;
        transition-timing-function:ease-in;
      }
      .outer:hover{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 21%, rgba(0, 0, 0, 0.53) 54%, rgba(0, 0, 0, 0) 80%);
      }