body {
    background-color:#fafafa ;
    margin:0;
    padding:0;
    }
    /*ใส่เงา*/
    :root{
      --shadow:0 6px 12px rgba(104,104,104,0.8);
    }
    .headerbar{
      background-color:#D9D8D7;
      height:53px;
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }
    .menu-bar {
      background-color: #D9D8D7;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      position:fixed;
      top:0;
      right:0;
      left:0;
      font-family:Good Times;
      z-index:3;
      max-width: 1600px;
      margin: auto;
    }
    .item {
      color: black;
      background-color: transparent;
      font-size: 18px;
      display: inline-block;
      box-sizing: border-box;
      padding: 8px 16px;
      text-decoration:none;
      font-family:Good Times;
    }
    .item.title {
      font-weight: 600;
      font-size:25px;
    }
    .search-input{
      padding:6px;
    }
    .search-icon{
      display:inline-block;
      width:15px;
      height:15px;
    }
    .search-text{
      display:none;
    }
    @media screen and (min-width:500px){
      .search-text{
        display:inline-block;
      }
    }
    .font{
      font-family:Good Times;
      text-decoration:none;
      }
    #main{
      font-size:20px;
      text-align:center;
      background-image: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(219, 219, 219, 1) 100%);
      margin-bottom:20px;
      padding:30px;
      margin: auto;
      max-width:1600px;
      border:0.5px solid #D9D8D7;
      }
   
    #text-overlay{
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.62) 24%, rgba(0, 0, 0, 0) 65%);
      position: absolute;
      top:0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius:10px;
      transition-delay:2s;
      transition-duration:2s;
      transition-timing-function:ease-in;
    }
    #text-overlay:hover{
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 21%, rgba(0, 0, 0, 0.53) 54%, rgba(0, 0, 0, 0) 80%);
    }
    #text-style{
      color: white;
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
    .font2{
      text-align:center;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      justify-items: center;
      align-items: stretch;
      position:relative;
      border-radius:10px;
      min-height: 500px;
      max-width: fit-content;
      margin: auto;
    }
    .subject {
      display: block;
      max-width: fit-content;
      margin: auto;
    }
    @media screen and (max-width:599px) {
        .grid{
          grid-template-columns:1fr  ;
        }
    }
    @media screen and (min-width:600px) and (max-width:1000px){
      .grid{
        grid-template-columns: 1fr 1fr ;
      }
    }
    @media screen and (min-width:1001px) and (max-width:1400px){
      .grid{
        grid-template-columns: 1fr 1fr 1fr ;
      } 
    }
    @media screen and (min-width:1401px){
      .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
      } 
    }
    .info-box1{
      grid-area:info-box1;
      background-color: #D9D8D7;
      margin:auto;
      align-items:center;
      justify-items:center;
      display:inline-block;
      padding: 8px 16px;
    }
    .info-box1 ul{
      list-style:none;
      text-align:center;
      padding:0px;
      margin:1px;
      background-color: #D9D8D7;
    }
    .info-box1 li{
      font-size:20px;
      text-align:left;
      line-height:24px;
    }
    .info-box1 a{
      text-decoration:none;
      display:block;
      color:black;
      padding:5px 16px;
      border-bottom:none;
      transition:0.5s;
      text-align:center;
    }
    .info-box1 a:hover{
      background-color:gray;
    }
    .info-box1 li li{
      font-size:20px;
      text-align:center;
      padding:0;
      margin:0;
      display:block;
    }
    @media screen and (min-width:650px){
      .info-box1 il{
        width:100px;
        border-bottom:none;
        height:50px;
        line-height:50px;
        display:inline-block;
        margin-right:-8px;
      }
    } 
    .info-box1 a{
      border-bottom:none;
    }
    .info-box1 > ul> li{
      text-align:center;
    }
    .info-box1 > ul > li > a{
      padding-left:0;
    }
    .info-box1 li ul{
      position:absolute;
      display:none;
      width:inherit;
    }
    .info-box1 li:hover ul{
      display:block;
    }
    .info-box1 li ul li{
      display:block;
    }
    .search-box{
      width:150px;
      background-color:white;
      border-radius:20px;
      display:flex;
      align-items:center;
      padding:0 15px;
      display:inline-block;
    }
    .search-box input{
      width:100%;
      background:transparent;
      outline:none;
      border:0;
      padding:10px;
    }
    .electrostatic {
      position:relative;
      background-image:url("https://www.scimath.org/images/2018/Article/July/8494/8494-1.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .electrostatic:hover{
      transform:scale(1.05,1.05);
    }
    .directcurrent {
      background-image:url("https://upload.wikimedia.org/wikipedia/commons/b/b9/Capacitors_%287189597135%29.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px; 
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;      
    }
    .directcurrent:hover{
      transform:scale(1.05,1.05);
    }
    .electromagnetic {
      background-image:url("http://www.pbs.org/wgbh/nova/next/wp-content/uploads/2013/08/transrapid-1024x575.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .electromagnetic:hover{
      transform:scale(1.05,1.05);
    }
    .alternativecurrent {
      background-image:url("https://images.infobloom.com/power-lines-with-blue-sky.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .alternativecurrent:hover{
      transform:scale(1.05,1.05);
    }
    .physicsatom {
      background-image:url("https://studiousguy.com/wp-content/uploads/2019/02/examples-of-quantum-physics-in-everyday-life.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .physicsatom:hover{
      transform:scale(1.05,1.05);
    }
    .physicsnuclear {
      background-image:url("https://static.dw.com/image/59710463_101.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .physicsnuclear:hover{
      transform:scale(1.05,1.05);
    }
    #topten{
      color: white;
      font-family:Good Times;
      text-decoration:none;
      position: absolute;
      bottom:8px;
      left:16px;
    }
    .motion {
      position:relative;
      background-image:url("https://studiousguy.com/wp-content/uploads/2020/10/Motion.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .motion:hover{
      transform:scale(1.05,1.05);
    }
    .projectile {
      background-image:url("https://studiousguy.com/wp-content/uploads/2021/05/Throwing-a-Basketball-in-the-Basket-.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative; 
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;      
    }
    .projectile:hover{
      transform:scale(1.05,1.05);
    }
    .newton {
      background-image:url("https://s.yimg.com/ny/api/res/1.2/97Ck8QPJEngGLWRzYQEe0A--/YXBwaWQ9aGlnaGxhbmRlcjt3PTQyMDtoPTMxNg--/https://s.yimg.com/os/en/blogs/thesideshow/fallingapples.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .newton:hover{
      transform:scale(1.05,1.05);
    }
    .rotate {
      background-image:url("https://5.imimg.com/data5/VW/RL/QZ/SELLER-2905410/kids-seesaw-500x500.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .rotate:hover{
      transform:scale(1.05,1.05);
    }
    .circle {
      background-image:url("https://2.bp.blogspot.com/-OU_nopr_1z8/V8BVHMwvAqI/AAAAAAAABPM/YyYtZTYV4OILbG08v4hvonxnMoMt-h3ZQCLcB/s1600/color-ferris-wheel.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .circle:hover{
      transform:scale(1.05,1.05);
    }
    #topten{
      color: white;
      font-family:Good Times;
      text-decoration:none;
      position: absolute;
      bottom:8px;
      left:16px;
    }
    .momentum {
      background-image:url("http://thejourneyofphysicsforsamir.weebly.com/uploads/4/7/2/3/47237451/6560914_orig.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .momentum:hover{
      transform:scale(1.05,1.05);
    }
    .shm {
      background-image:url("https://helentronica.files.wordpress.com/2014/12/bull-dog-in-a-swing1.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .shm:hover{
      transform:scale(1.05,1.05);
    }
    .wande {
      background-image:url("https://media.istockphoto.com/photos/young-adult-woman-walking-up-the-stairs-with-sun-sport-background-picture-id874231466?k=20&m=874231466&s=170667a&w=0&h=nB8nYUfuZLMHsB1CeI-l6itgB4HDqm7ro2GDX6Ai58A=");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .wande:hover{
      transform:scale(1.05,1.05);
    }
    .Rotation {
      background-image:url("http://mateeya-physicseducation.weebly.com/uploads/2/6/6/0/26603561/1393786445.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .Rotation:hover{
      transform:scale(1.05,1.05);
    }
    .meter {
      background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAVYL6jZS03_7lNmjJ6gTPMQ8ZHk_ocOtebPVcgda8FPKCWHlZV_UtjXLD0tPEdf8pMBA&usqp=CAU");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .meter:hover{
      transform:scale(1.05,1.05);
    }
    .wave {
      position:relative;
      background-image:url("https://static.trueplookpanya.com/tppy/member/m_597500_600000/599265/cms/images/shutterstock_1483737851.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position:relative;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .wave:hover{
      transform:scale(1.05,1.05);
    }
    .light {
      background-image:url("https://www.scimath.org/images/uploads/upload2/light_waves_featured_2_1.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position:relative;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .light:hover{
      transform:scale(1.05,1.05);
    }
    .sound {
      background-image:url("https://www.matichon.co.th/wp-content/uploads/2017/08/694940094001_5550655815001_5550641688001-vs.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position:relative;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .sound:hover{
      transform:scale(1.05,1.05);
    }
    .electromagnetic {
      background-image:url("http://www.pbs.org/wgbh/nova/next/wp-content/uploads/2013/08/transrapid-1024x575.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position:relative;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .electromagnetic:hover{
      transform:scale(1.05,1.05);
    }
    .solid {
      position:relative;
      background-image:url("https://www.sustainewe.org.nz/wp-content/uploads/2018/08/freezing.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .solid:hover{
      transform:scale(1.05,1.05);
    }
    .liquid {
      background-image:url("https://www.teahub.io/photos/full/80-800348_fresh-water-wallpaper.jpg");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;  
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;     
    }
    .liquid:hover{
      transform:scale(1.05,1.05);
    }
    .gas {
      background-image:url("https://edam.org.tr/wp-content/uploads/2021/10/Screenshot-2021-10-06-at-11.19.42-702x336.png");
      background-color: #666666;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width:350px;
      height:250px;
      position:relative;
      border-radius:10px;
      box-shadow:var(--shadow);
      transition-property:transform;
      transition-duration:0.3s;
      transition-timing-function:ease-in;
    }
    .gas:hover{
      transform:scale(1.05,1.05);
    }
    .footer{
      color:white;
      background-color:#696969 ;
      width:auto;
      padding:70px 0;
      box-sizing:border-box;
      margin:auto;
    }
    .footer-container{
      max-width:1200px;
      background-color:red,none;
      margin:auto;
    }
    ul{
      list-style:none;
      padding:6px;
    }
    .footer-row{
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
    }
    .footer-col{
      width:22%;
      padding:0 15px;
    }
    .footer-col h3{
      font-size:20px;
      color:white;
      text-transform:capitatize;
      margin-bottom:30px;
      position:relative;
    }
    .footer-col h3::before{
      content:'';
      position:absolute;
      left:0;
      bottom:-10px;
      background-color:white;
      height:2px;
      box-sizing:border-box;
      width:110px;
    }
    .footer-col ul li:not(:last-child){
      margin-bottom:10px;
    }
    .footer-col ul li a{
      font-size:18px;
      text-transform:capitalize;
      color:lightgray;
      text-decoration:none;
      display:block;
      transition:all 0.3s ease;
    }
    .footer-col ul li a:hover{
      color:black;
      padding-left:15px;
    }
    @media screen and (max-width:1000px){
      .footer-col{
        width:45%;
        margin-bottom:30px;
      }
    }
    @media screen and (max-width:580px){
      .footer-col{
        width:60%;
        margin-bottom:30px;
      }
    }
    .font2{
      text-align:center;
      color: white;
    }
    .main{
      display: block;
      min-height: 500px;
      max-width: 1600px;
      margin: auto;
      background-color: white;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .sub-main{
      display: grid;
      justify-content: center;
      z-index: 1;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 2fr;
      column-gap: 10px;
      row-gap: 10px;
      grid-template-areas: 'block-left block-right'
                           'block-left block-right2';
    }
    .block-left{
      display: flex;
      background-color: white;
      max-width: 1000px;
      min-height: 200px;
      margin-left: 20px;
      margin-top: 20px;
      width: 1000px;
      padding: 20px;
      grid-area: block-left;
      flex-direction: column;

    }
    @media screen and (max-width:1000px){
      .block-left{
        width:40%;
        margin-bottom:30px;
      }
    }
    @media screen and (max-width:580px){
      .block-left{
        width:60%;
        margin-bottom:30px;
      }
    }
    @media screen and (max-width:1000px){
      .block-right{
        width:25%;
        margin-bottom:30px;
      }
    }
    @media screen and (max-width:580px){
      .block-right{
        width:40%;
        margin-bottom:30px;
      }
    }
    .block-right{
      background-image :url("https://i.ytimg.com/vi/Zb_SizNRUPg/maxresdefault.jpg");
      background-position: center;
      background-size: 100%;
      display: flex;
      background-color: whitesmoke;
      max-width: 600px;
      max-height: 200px;
      margin-right: 20px;
      margin-top: 20px;
      padding: 20px;
      grid-area: block-right;
    }
    .block-right2 {
      background-image :url("https://www.physio-pedia.com/images/2/25/Baseball_pitching_motion_2004.jpg");
      display: flex;
      background-color: whitesmoke;
      max-width: 600px;
      max-height: 200px;
      margin-right: 20px;
      margin-top: 20px;
      width: 400px;
      padding: 20px;
      grid-area: block-right2;
    }
    @media screen and (max-width:1000px){
      .block-right2{
        width:25%;
        margin-bottom:30px;
      }
    }
    @media screen and (max-width:580px){
      .block-right2{
        width:40%;
        margin-bottom:30px;
      }
    }
    img{
      display: flex;
      max-height: 250px;
      align-self: center;
    }
    #img {
      display: flex;
      width: 100px;
      height: 60px;
      align-self: center;
    }
    p {
      color: black;
      font-family: 'Good Times';
      font-weight: 300;
      font-size: 18px;
    }